main {
  padding: 0 15px;
}

.add-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.add-portfolio button {
  font-size: 40px;
  color: #2d87b1;
  transition: all 0.3s ease;
}

.add-portfolio button:hover {
  color: #579bbb;
  font-size: 50px;
}
