input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  border-radius: 5px;
  padding: 3px 10px;
  text-align: right;
  color: #747376;
  border: 1px solid #d1d1d1;
  outline: none;
  width: 100%;
}

button[type='button'] {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
